<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>場地租借</title>
    
        <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>
        <link rel="stylesheet" type="text/css"  th:href="@{/back_end/management.css}" href="../../../static/back_end/management.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" th:href="@{/back_end/rental/selectRentalOrder.css}" href="../../../static/back_end/rental/selectRentalOrder.css">


    </head>
    <body >

        <aside class="sidebar-container" id="sidebar-container">
            <div class="sidebar-container" id="sidebar-container">
                <div class="sidebar">
                    <div class="top">
                        <div class="logo">
        
                            <i class='bx bxs-cat'></i>
                            <span>HelloWorld<br>員工後臺
                            </span>
                        </div>
        
                        <i class="bx bx-menu" id="btn"></i>
                    </div>
                    <div class="user">
                        <img th:src="@{/back_end/img/hakunamatata.jpg}" alt="fang" class="user-img">
                        <div>
                            <p class="bold">Client B.</p>
                            <p>Admin</p>
                        </div>
        
        
                    </div>
        
                    <ul>
                        <li>
                            <a href="">
                                <i class="bx bxs-grid-alt"></i>
                                <span class="nav-item">售票管理
        
                                </span>
        
                            </a>
        
                            <span class="tooltip">售票管理</span>
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">查詢電影訂單</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">現場畫位</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">周邊訂單</span>
                                </a>
                            </div>
        
                        </li>
                        <li>
                            <a th:href="@{/mem/select}">
                                <i class='bx bx-chalkboard'></i>
                                <span class="nav-item">會員管理</span>
                            </a>
                            <span class="tooltip">會員管理</span>
        
                            <div class="side">
                                <a class="items" th:href="@{/mem/select}">
                                    <span class="itemstooltip">會員查詢</span>
                                </a>
                                <a class="items" th:href="@{/mem/get_SuspendedMem}">
                                    <span class="itemstooltip">帳號停權/復權</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">個人公告</span>
                                </a>
                            </div>
                        </li>
        
        
                        <li>
                            <a href="">
                                <i class='bx bxs-discount'></i>
                                <span class="nav-item">影廳管理</span>
                            </a>
                            <span class="tooltip">影廳管理</span>
        
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">場次管理</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">票種管理</span>
                                </a>
        
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <i class='bx bxs-movie'></i>
                                <span class="nav-item">資訊管理</span>
                            </a>
                            <span class="tooltip">資訊管理</span>
        
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">電影資訊管理</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">討論區管理</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">最新消息管理</span>
                                </a>
        
        
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <i class='bx bx-calendar-alt'></i>
                                <span class="nav-item">商城管理</span>
                            </a>
                            <span class="tooltip">商城管理</span>
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">餐影管理</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">周邊管理</span>
                                </a>
        
        
        
                            </div>
                        </li>
                        <li>
                            <a th:href="@{/rental/select}">
                                <i class='bx bxs-shopping-bag'></i>
                                <span class="nav-item">場地租借</span>
                            </a>
                            <span class="tooltip">場地租借</span>
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">租借單審核</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">歸還管理</span>
                                </a>
        
        
        
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <i class='bx bxs-file'></i>
                                <span class="nav-item">員工管理</span>
                            </a>
                            <span class="tooltip">員工管理</span>
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">員工基本資料</span>
                                </a>
                                <a class="items" href="">
                                    <span class="itemstooltip">員工權限管理</span>
                                </a>
        
        
        
                            </div>
                        </li>
                        <li>
                            <a href="">
                                <i class='bx bx-user-circle'></i>
                                <span class="nav-item">客服中心</span>
                            </a>
                            <span class="tooltip">客服中心</span>
        
                            <div class="side">
                                <a class="items" href="">
                                    <span class="itemstooltip">客服即時通</span>
                                </a>
        
        
        
                            </div>
                        </li>
        
                        <li>
                            <a href="">
                                <i class="bx bx-log-out"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                            <span class="tooltip">Logout</span>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <main>
            <h1>場地租借</h1>

            <table>
                <tr>
                    <td> 
                        <!-- <a href='${pageContext.request.contextPath}/back_end/rental/rental.do?action=getAll'>所有訂單</a> -->
                        <a th:href="@{/rental/listAllRentalOrder}">所有訂單</a>
                    </td>
                    <td>
                        <a th:href="@{/rental/get_RentalOrder_For_Review}">租借訂單審核</a>
                    </td>
                </tr>
            </table>

            <br><br>
            <h3>場地租借訂單查詢</h3>
            
            <div class="errorMsgs" th:if="${errorMsgs}">
                <ul>
                    <li th:each="errors : ${errorMsgs}" th:text="${errors.defaultMessage}"></li>
                </ul>
            </div>
            <div class="errorMsgs" th:if="${errorMsg}">
                <ul>
                    <li th:each="error : ${errorMsg}" th:text="${error}"></li>
                </ul>
            </div>
            <!-- ================================================================= -->
            
            <form method="post" th:action="@{/rental/getOne_For_Display}">
                <h4>選擇訂單編號：
                <select name="rentalId">
                     <option th:each="rental : ${AllRentalOrderListData}" th:value="${rental.rentalId}" th:text="${rental.rentalId}"></option>
                </select>
                <input class="submit1" type="submit" value="送出"></h4>
            </form><br><hr><br>    
           
            <h4>萬用複合查詢：</h4>
            <div class="errorMsgs" th:if="${errorMsgs}">
                <ul>
                    <li th:each="error : ${errorMsgs}" th:text="${error}"></li>
                </ul>
            </div>
            <br>
            <form method="post" th:action="@{/rental/listRentalOrders_ByCompositeQuery}">

               

                <div class="row">
                    <label for="rentalId">輸入訂單編號(例如：50000001)： </label>  
                    <input type="text" name="rentalId" maxlength="8" minlength="8">
                </div>
                <br>
                <div class="row">
                    <label for="screenId">租借影廳：</label>  
                    <select name="screenId">
                        <option value="">選取影廳</option>
                        <option value="A廳">A廳</option>
                        <option value="B廳">B廳</option>
                        <option value="C廳">C廳</option>
                        <option value="D廳">D廳</option>
                    </select>
                </div> 
                <br>
                <div class="row">
                    <label for="memAccount">會員帳號：</label>  
                    <input type="text" name="memAccount">
                </div>
                <br>  
                <div class="row">

                    <label >租借日期間範圍：</label>
                    <input type="date" name="startdate"> ～ <input type="date" name="enddate">
                </div>  
                <br>
                <div class="row">
                    <input type="submit" class="submit" value="送出">
                </div>
                
            </form>

            
        </main>   
    
    
        <script th:src="@{/back_end/js/management.js}"></script>

    </body>
</html>
