<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <!-- ======================== -->

    <meta name="description" content="世界影城、提供電影介紹、場次時刻表、購票資訊、會員網路訂票服務、電影周邊商品販售、影廳場地租借服務">
    <meta name="keywords" content="世界、電影、世界影城、HelloWorld Cinema" />
    <meta name="robots" content="Index,follow">
    <meta property="og:title" content="世界影城" />
    <meta property="og:image" content=".img/bk.jpg" />
    <meta property="og:site_name" content="世界影城網站" />
    <meta property="og:url" content="https://www.ambassador.com.tw" />
    <meta property="og:description" content="世界影城、提供電影介紹、場次時刻表、購票資訊、會員網路訂票服務、電影周邊商品販售、影廳場地租借服務" />
    <!-- RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    
    
    
    
    <!-- 底部footer -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    
    
    <!-- 主要css -->
    <link rel="stylesheet" type="text/css" th:href="@{/front_end/index.css}" href="../../../static/front_end/index.css" />


    <link rel="stylesheet" th:href="@{/front_end/mem/mem_login.css}" href="../../../static/front_end/mem/mem_login.css">
</head>
<body>

    <!-- 載入動畫 -->
    <canvas></canvas>


    <!-- 選單 -->
    <header class="header">
        <div id="box" class="logo">
            <h1 class="neon"><a href="index.html"><span>H</span>ello<span>W</span>orld <span>C</span>inema</a></h1>
        </div>
        <div id="box">
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">影城資訊</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href="">最新資訊</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">票價說明</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">即將上映</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">現正熱映</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">線上訂票</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">周邊商城</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">場地租借</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href="">場地租借須知</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">可租借場地資訊</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">租借表單填寫</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">Log In</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>


<br>
<!-- ========================以下區域可放置其他內容======================== -->


    <section class="container forms">
        <div class="form login">
        	
            <div class="form-content">
                <h1>登入</h1>
                
                <form method="post" th:action="@{/mem/login}" enctype="multipart/form-data">
                   <!-- 錯誤列表 -->
                    <div class="errorMsgs" th:if="${errorMsgs}">
                        <ul>
                            <li th:each="error : ${errorMsgs}" th:text="${error}"></li>
                        </ul>
                    </div>
                    
                    <div class="field input-field">
                        <input type="text" placeholder="帳號" class="input" >
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="密碼" class="password"  id="ps1" >
                        <button class="eye" type="button" onclick="eyeSwitch()"><img class="eye-icon" id="eye1" th:src="@{/front_end/mem/img/eye.svg}"></button>
                    </div>

                    <div class="form-link">
                        <a href="" class="forgot-pass">忘記密碼？</a>
                    </div>

                    <div class="field button-field">
                        <input type="hidden" name="action" value="login">
                        <input type="submit" class="submit" name="action" value="登入">
                    </div>
                </form>

                <div class="form-link">
                    <span>還沒有帳號？ <a href="./mem_sign_up.html" class="link signup-link">註冊</a></span>
                </div>
            </div>


        </div>

    </section>

 
<!-- ========================以上區域可放置其他內容======================== -->
<br>





    <!-- 底部footer -->
    <footer class="footer">
        <div class="titleCont">
            <h1 class="main-title" id="main-title">
                    "You must not be afraid to dream a little bigger, darling."
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="neon2">關於我們</h4>
                    <ul>
                        <li><a href="#">影城簡介</a></li>
                        <li><a href="#">影城交通</a></li>
                        <li><a href="#">影城設備</a></li>
                        <li><a href="#">注意事項</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">電影評論區</h4>
                    <ul>
                        <li><a href="#">影評查詢</a></li>
                        <li><a href="#">電影分類</a></li>
                        <li><a href="#">排行榜</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">客服中心</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">真人聊天室</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>



    



<script src="../frontend_model_html/js/jquery-3.4.1.min.js"></script>

<!-- 主要js -->
<script src="../frontend_model_html/js/index.js"></script>

 
    <script>
        function eyeSwitch() {
            if((document.getElementById("ps1").type) ==="password"){
                document.getElementById("ps1").type ="text";
                // document.getElementById("eye1").src = "./images/eye-slash.svg";
                document.getElementById("eye1").removeAttribute("th:src","@{/front_end/mem/img/eye.svg}");
                document.getElementById("eye1").setAttribute("th:src","@{/front_end/mem/img/eye-slash.svg}");
            }else{
                document.getElementById("ps1").type ="password";
                // document.getElementById("eye1").src = "./images/eye.svg";
                document.getElementById("eye1").removeAttribute("th:src","@{/front_end/mem/img/eye-slash.svg}");
                document.getElementById("eye1").setAttribute("th:src","@{/front_end/mem/img/eye.svg}");
            }
        }


    </script>
</body>

</html>