<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員資訊管理</title>
    <!-- ======================== -->

    <meta name="description" content="世界影城、提供電影介紹、場次時刻表、購票資訊、會員網路訂票服務、電影周邊商品販售、影廳場地租借服務">
    <meta name="keywords" content="世界、電影、世界影城、HelloWorld Cinema" />
    <meta name="robots" content="Index,follow">
    <meta property="og:title" content="世界影城" />
    <meta property="og:image" content=".img/bk.jpg" />
    <meta property="og:site_name" content="世界影城網站" />
    <meta property="og:url" content="https://www.ambassador.com.tw" />
    <meta property="og:description" content="世界影城、提供電影介紹、場次時刻表、購票資訊、會員網路訂票服務、電影周邊商品販售、影廳場地租借服務" />
    <!-- RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    
    
    
    
    <!-- 底部footer -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css}">
    
    
    
    <!-- 主要css -->
    <link rel="stylesheet" type="text/css" th:href="@{/front_end/css/index.css}" href="../../../static/front_end/css/index.css" />


    <link rel="stylesheet" th:href="@{/front_end/rental/ListAllRentalOrder.css}" href="../../../static/front_end/rental/ListAllRentalOrder.css">
</head>
<body>

    <!-- 載入動畫 -->
    <canvas></canvas>


    <!-- 選單 -->
    <header class="header">
        <div id="box" class="logo">
            <h1 class="neon"><a href="index.html"><span>H</span>ello<span>W</span>orld <span>C</span>inema</a></h1>
        </div>
        <div id="box">
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">影城資訊</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href="">最新資訊</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">票價說明</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">即將上映</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">現正熱映</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">線上訂票</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">周邊商城</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">場地租借</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href="">場地租借須知</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">可租借場地資訊</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">租借表單填寫</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">Log In</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    </li> -->
                    <li class="nav__menu-item" th:if="${session.loginSuccess != null}">
                        <a href=""><h4 class="neon2" th:text="${#strings.substring(session.loginSuccess.memName, 0, 3)}" ></h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a th:href="@{/mem/memIndexF}">會員專區</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a th:href="@{/mem/logout}">Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item" th:unless="${session.loginSuccess != null}">
                        <a th:href="@{/mem/login}"><h4 class="neon2" >Log In</h4></a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>


<br>
<!-- ========================以下區域可放置其他內容======================== -->


    <section class="container forms">
        <div class="form ">
            <div class="errorMsgs" th:if="${errorMsgs}">
                <ul>
                    <li th:each="errors : ${errorMsgs}" th:text="${errors}"></li>
                </ul>
            </div>
            <div class="form-content">
                <div th:if="${AllRentalOrderListData}">
                    <table id="table-1" border="1">
                        <h1>租借訂單資訊</h1>
                        <div class="field input-field">
                            <a th:href="@{/mem/memIndexF}">回會員專區</a>
                        </div>
 
                        <tr>
                            <th>表單編號</th>
                            <!-- <th>會員編號</th> -->
                            <!-- <th>影廳編號</th> -->
                            <th>租借日期</th>
                            <th>預計開始時間</th>
                            <th>預計結束時間</th>
                            <th>申請理由</th>
                            <th>審核狀態</th>
                            <th>申請日期</th>
                            <th>影廳價格</th>
                            <th>付款方式</th>
                            <th>付款狀態</th>
                            <th>押金</th>
                            <th>押金歸還</th>
                            <th>合計</th>
                            <!-- <th>員工編號</th> -->
                            <!-- <th>修改</th> -->
                        </tr>
                        <tr th:each="rentalOrder : ${AllRentalOrderListData}">
                            <td th:text="${rentalOrder.rentalId}"></td>
                            <!-- <td th:text="${rentalOrder.mem.memId}"></td> -->
                            <!-- <td th:text="${rentalOrder.screen.screenId}"></td> -->
                            <td th:text="${rentalOrder.rentalDate}"></td>
                            <td th:text="${rentalOrder.startTime}"></td>
                            <td th:text="${rentalOrder.endTime}"></td>
                            <td th:text="${rentalOrder.reason}"></td>
                            <td th:text="${rentalOrder.result}"></td>
                            <td th:text="${rentalOrder.applyDate}"></td>
                            <td th:text="${rentalOrder.price}"></td>
                            <td th:text="${rentalOrder.paymentType}"></td>
                            <td th:text="${rentalOrder.paymentStatus}"></td>
                            <td th:text="${rentalOrder.deposit}"></td>
                            <td th:text="${rentalOrder.depositRefund}"></td>
                            <td th:text="${rentalOrder.total}"></td>
                            <!-- <td th:text="${rentalOrder.emp.empId}"></td> -->
                            <!-- <td>
                                <form method="post" th:action="@{/rental/getOne_For_Update}" th:object="${rentalOrder}">
                                    <input type="submit" value="修改">
                                    <input type="hidden" name="rentalId" th:value="${rental.rentalId}">
                                </form>
                            </td> -->
                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </section>

 
<!-- ========================以上區域可放置其他內容======================== -->
<br>
    <!-- 底部footer -->
    <footer class="footer">
        <div class="titleCont">
            <h1 class="main-title" id="main-title">
                    "You must not be afraid to dream a little bigger, darling."
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="neon2">關於我們</h4>
                    <ul>
                        <li><a href="#">影城簡介</a></li>
                        <li><a href="#">影城交通</a></li>
                        <li><a href="#">影城設備</a></li>
                        <li><a href="#">注意事項</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">電影評論區</h4>
                    <ul>
                        <li><a href="#">影評查詢</a></li>
                        <li><a href="#">電影分類</a></li>
                        <li><a href="#">排行榜</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">客服中心</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">真人聊天室</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

<script th:src="@{/front_end/js/jquery-3.4.1.min.js}" ></script>

<!-- 主要js -->
<script th:src="@{/front_end/js/index.js}"></script>






</body>

</html>